body {
  background-color: #ffffff;
  font-family: Verdana,sans-serif;
}

body label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  color: #666;
  font-size: 20px;
}

nav ul li#header_title {
  float: left;
}

nav ul li#header_title div {
  border: 5px dashed #04AA6D;
  pointer-events: none;
}

nav ul li {
  float: right;
}

nav ul li div {
  text-transform: capitalize;
  height: 60px;
  text-align: center;
  padding: 14px 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li div:hover {
  background-color: #ddd;
}

nav ul li div.active {
  background-color: #04AA6D;
  color: #fff;
}

#edit_todo_toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  font-size: 30px;
}

#edit_todo_toggle .toggle {
  cursor: pointer;
  display: inline-block;
}

#edit_todo_toggle .toggle:hover .toggle-switch:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

#edit_todo_toggle .toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

#edit_todo_toggle .toggle-switch:before {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-transition: left 0.25s;
  transition: left 0.25s;
}

#edit_todo_toggle .toggle-switch:before, #edit_todo_toggle .toggle-switch:after {
  content: "";
}

#edit_todo_toggle .toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

#edit_todo_toggle .toggle-checkbox:checked + .toggle-switch {
  background: #04AA6D;
}

#edit_todo_toggle .toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

#edit_todo_toggle .toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.template_ready {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 50px auto 0;
}

.template_ready .header {
  background-color: #04AA6D;
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  position: relative;
  color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.template_ready .header .timeline {
  width: 80%;
  border: 5px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  height: 40px;
}

.template_ready .header .timeline .progress_bar {
  background-color: #04AA6D;
  width: 10%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition: 1s;
  transition: 1s;
}

.template_ready .header .header_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.template_ready .header .title {
  font-size: 30px;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #fff;
}

.template_ready .header .play_button {
  font-size: 40px;
  cursor: pointer;
}

.template_ready .header:after {
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid #04AA6D;
  border-left: 30px solid transparent;
}

.template_ready .header:before {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid #04AA6D;
  border-right: 30px solid transparent;
}

.template_ready .parts {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  width: 100%;
  top: 65px;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.template_ready .part {
  min-width: 170px;
}

.template_ready .part_title {
  color: #fff;
  background-color: #04AA6D;
  height: 40px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.template_ready .part_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.template_ready .part_content {
  min-width: 100%;
  font-size: 20px;
  padding: 15px;
  padding-bottom: 10px;
}

.template_ready .part_content .countdown_time {
  color: #666;
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.template_ready .part_content .countdown_time > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.template_ready .part_content .icons {
  display: inline-block;
  border: 3px solid #04AA6D;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #fff;
}

.template_ready .part_content .icons .part_num {
  color: #666;
  border-right: 2px solid #04AA6D;
  padding-right: 2px;
}

.template_ready .part_content .icons span.icon_part {
  margin-right: 10px;
  color: #666;
}

.template_ready .part_content .icons span.icon_part .text {
  color: black;
}

.template_ready .part_content .icons span.icon_part .active {
  color: #04AA6D;
}

.template_ready .part_content .icons span.icon_part .span_margin {
  margin-right: 5px;
}

.template_ready .part_content .timeline_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
}

.template_ready .part_content .timeline {
  width: 100%;
  border: 4px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  height: 30px;
}

.template_ready .part_content .timeline .progress_bar {
  background-color: #04AA6D;
  width: 10%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.template_ready .part_content .play_button {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #fff;
  color: #04AA6D;
}

.template_ready .part_content .play_button > div {
  border: 4px solid #ddd;
  padding: 0 3px;
  background-color: #fff;
  border-radius: 25%;
  cursor: pointer;
}

.template {
  max-width: 1000px;
  margin: 50px auto 0;
  width: 100%;
  height: 100%;
}

.template .header {
  background-color: #04AA6D;
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.template .header .title {
  font-size: 30px;
}

.template .header:after {
  position: absolute;
  top: 100%;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid #04AA6D;
  border-left: 30px solid transparent;
}

.template .header:before {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid #04AA6D;
  border-right: 30px solid transparent;
}

.template .parts {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  width: 100%;
  top: 65px;
  -ms-grid-columns: (minmax(300px, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.template .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.template .add_part_container {
  min-height: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 10px dashed #04AA6D;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.template .add_part_container .add_part {
  font-size: 70px;
  line-height: 50px;
  color: #666;
  border: 5px solid #666;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.template .add_part_container:hover {
  border-color: #666;
}

.template .add_part_container:hover .add_part {
  color: #04AA6D;
  border-color: #04AA6D;
}

.template .part_content {
  padding: 15px;
  font-size: 20px;
}

.template .divider {
  height: 15px;
}

.template .duration {
  margin-top: 5px;
  border: 2px solid #04AA6D;
  padding: 10px;
  border-radius: 10px;
  background-color: #ddd;
}

.template .remove_part {
  float: right;
  color: #04AA6D;
  cursor: pointer;
}

.template .remove_part:hover {
  color: red;
}

.template label {
  margin-left: 5px;
  cursor: pointer;
}

.template .input, .template input[type="text"], .template input[type="number"] {
  outline: none;
  border: 3px solid #666;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

.template .input:focus, .template input:focus[type="text"], .template input:focus[type="number"] {
  border-color: #04AA6D;
}

.template input[type="number"] {
  width: 60px;
}

.template input[type="checkbox"] {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  cursor: pointer;
}

.template input[type="color"] {
  border: none;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #04AA6D;
  -webkit-transition: .25s;
  transition: .25s;
}

.template input[type="color"]:hover {
  background-color: #666;
}

#content_templates {
  background-color: #f3f3f3;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px 20px 0;
  border: 3px solid #04AA6D;
  border-radius: 10px;
}

#content_templates #save_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#content_templates #save_button > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border: 4px solid #04AA6D;
  background-color: #04AA6D;
  color: #fff;
  padding: 10px;
}

#content_templates #save_button > div:hover {
  background-color: #fff;
  color: #04AA6D;
}

#content_templates .template_title {
  margin-bottom: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 20px;
}

#content_templates .template_title > div {
  background-color: #fff;
  padding: 5px;
  border: 3px solid #666;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

#content_templates .template {
  background-color: #fff;
  min-height: 100px;
  border: 3px solid #666;
  border-radius: 10px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#content_templates .template .tl_index {
  border-right: 3px solid #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content_templates .template .tl_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
}

#content_templates .template .tl_control {
  border-right: 3px solid #666;
  padding: 0 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content_templates .template .tl_control .tl_load {
  border: 3px solid #04AA6D;
  background-color: #04AA6D;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#content_templates .template .tl_control .tl_load:hover {
  background-color: #fff;
  color: #04AA6D;
}

#content_templates .template .tl_control .fa-trash {
  cursor: pointer;
  margin-top: 10px;
  color: #04AA6D;
}

#content_templates .template .tl_control .fa-trash:hover {
  color: red;
}

#content_templates .template .tl_display {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

#content_templates .template .tl_display .tl_part {
  -webkit-clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 20% 50%, 0% 0%);
          clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 20% 50%, 0% 0%);
  height: 70px;
  width: 165px;
}

#content_templates .template .tl_display .tl_part .part_content {
  width: 60%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content_templates .template .tl_display .tl_part .icons {
  display: inline-block;
  border: 3px solid #04AA6D;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #fff;
}

#content_templates .template .tl_display .tl_part .icons .fa {
  display: inline;
  margin-right: 5px;
  color: #666;
}

#content_templates .template .tl_display .tl_part .icons .fa.active {
  color: #04AA6D;
}

#content_templates .template .tl_display .tl_part .icons .span_margin {
  padding-right: 5px;
}

#content_templates .template .tl_display .tl_part .time {
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */